body{
    font-family: sans-serif;  
    background-color: rgb(208, 255, 222);
}

#start{
    background-color: blue;
    color: white;
    border-radius: 8px;
    font-size: 300%;
}

#start:hover {
    color: gold;
}

#startHeader{
    display: flex;
    justify-content: center;
    font-size: 300%;
}

#startHeader::after, #startHeader::before{
    content: "🌞";
}

#restart {
    background-color: purple;
    color: white;
    border-radius: 8px;
    font-size: 150%;
    margin: 4% 0;
}

#startButton{
    display: flex;
    justify-content: space-evenly;
    margin: 4% 0;
}

button:hover {
    cursor: pointer;
}

#top {
    display: flex;
    justify-content: space-between;
}

#countdown {
    margin: 2px;
    padding: 5px;
    font-size: 120%;
    font-weight: bolder;
}

#scoreBoardBtn {
    margin: 2px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 100%;
    font-weight: bolder;
    border-radius: 5px;
    padding: 5px;
}

#scoreBoardBtn:hover{
    background: blueviolet;
    color: gold;
}

#playbox, #board, #user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playbox {
    font-size: 150%;
    font-weight: bolder;
    margin: 4% 0;
}

.optionButtons {
    background-color:blueviolet;
    color: white;
    border: none;
    font-size: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

.optionButtons:hover {
    background-color: blue;
    color: gold;
}

#submit {
    margin: 1px;
    background-color: blue;
    color: white;
}

